<div class="cointainer">
    <h2 class="mx-5 p-5">¿QUIERES AYUDAR A UCRANIA?</h2>

    <div class="row w-75 mx-auto">
        <div class="col">
            <img src="/assets/logo_andalucia_ucrania.jpg" class="img-fluid"/>
            <p class="text-green overunderlined"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg> Conoce más sobre Andalucía con Ucrania</p>
        </div>
        <div class="col">
            <h5 class="fw-bold">Plan de medidas y apoyo</h5>
            <p>Consulta las iniciativas que de forma transversal van a permitir optimizar la ayuda y la solidaridad del pueblo andaluz.</p>
            <ul>
                <li class="text-green overunderlined">Plan de medidas y apoyo: Andalucía con Ucrania (pdf)</li>
            </ul>
        </div>
        <div class="col">
            <h5 class="fw-bold">¿Cómo puede ayudar la ciudadanía?</h5>
            <p>En el siguiente documento encontrarás respuesta a todas tus preguntas sobre cómo ayudar, cómo enviar comida, materiales, etc., así como orientación para ofrecer alojamiento o trabajo a las personas afectadas.</p>
            <ul>
                <li class="text-green overunderlined">Guía para ayudar en la crisis de Ucrania (pdf)</li>
            </ul>
        </div>
    </div>
</div>